<div class="content-section">
  <div class="review-flight my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="theme-box-shadow theme-border-radius theme-bg-white p-3">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0">
                <div class="theme-bg-primary p-3 rounded-circle">
                  <i class="bi bi-unlock lh-1 fs-4"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <span class="fs-4 fw-bold">Sign in</span>
                <p class="font-medium mb-0 theme-text-accent-one">
                  Sign in and Get lots of Cashback Rewards and Discount
                </p>
              </div>
            </div>
            <div class="col-12">
              <form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['email'].errors}"
                         class="form-control" formControlName="email" id="email"
                         ngModel
                         placeholder="Email"
                         type="email">
                  <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['password'].errors}"
                         class="form-control" formControlName="password" id="password"
                         ngModel
                         placeholder="Password"
                         type="password">
                  <label for="password">Password</label>
                </div>
                <div class="mb-3 form-check">
                  <input class="form-check-input" id="remember-me" type="checkbox">
                  <label class="form-check-label font-small" for="remember-me">
                    Remember Me
                  </label>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary btn-book px-5 min-h58" type="submit">
                    Login
                  </button>
                  <span class="font-medium">
                    <span class="mx-3 text-uppercase">or</span>
                    <a routerLink="/sign-up" title="Create New Account">Create New Account</a>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
