<div class="content-section py-5">
  <div class="review-flight my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="theme-border-radius theme-bg-white p-3">
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-check2-circle display-4 text-success"></i>
              <span class="fs-5 my-3">
                  You have successfully activated your account.
              </span>
              <p class="font-medium mb-0 theme-text-accent-one">
                Click to <a routerLink="/sign-in" title="Login">login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
