<div class="content-section">
  <div class="review-flight py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="theme-box-shadow theme-border-radius theme-bg-white p-3">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0">
                <div class="theme-bg-primary p-3 rounded-circle">
                  <i class="bi bi-person-plus lh-1 fs-4"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <span class="fs-4 fw-bold">Create Flight World Account</span>
                <p class="font-medium mb-0 theme-text-accent-one">
                  For security, please sign in to access your information
                </p>
              </div>
            </div>
            <div class="col-12">
              <form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['name'].errors}"
                         class="form-control" formControlName="name" id="name"
                         ngModel
                         placeholder="Name"
                         type="text">
                  <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['surname'].errors}"
                         class="form-control" formControlName="surname" id="surname"
                         ngModel
                         placeholder="Surname"
                         type="text">
                  <label for="surname">Surname</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['birth_date'].errors}"
                         class="form-control" formControlName="birth_date" id="birth-date"
                         ngModel
                         placeholder="Birth date"
                         type="text">
                  <label for="birth-date">Birth date</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['passport_number'].errors}"
                         class="form-control" formControlName="passport_number" id="passport-number"
                         ngModel
                         placeholder="Passport number"
                         type="text">
                  <label for="passport-number">Passport number</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['phone'].errors}"
                         class="form-control" formControlName="phone" id="phone-number"
                         ngModel
                         placeholder="Phone number"
                         type="text">
                  <label for="phone-number">Phone number</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['email'].errors}"
                         class="form-control" formControlName="email" id="email"
                         ngModel
                         placeholder="Email"
                         type="email">
                  <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input [ngClass]="{'is-invalid': submitted && form.controls['password'].errors}"
                         class="form-control" formControlName="password" id="password"
                         ngModel
                         placeholder="Password"
                         type="password">
                  <label for="password">Password</label>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary btn-book px-5 min-h58" type="submit">
                    Register
                  </button>
                  <span class="font-medium">
                      <span class="mx-3">Already a member?</span>
                      <a routerLink="/sign-in" title="Login">Login</a>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
