<div class="head-wrapper vh-100">

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-5">
          <h4 class="text-center text-white mb-4">The best tour experience</h4>
          <h1 class="text-center text-white mb-4">
            Find and book best flights
          </h1>
          <p class="font-small text-white text-center px-5 max-1">
            Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id
            pharetra lacus, et hendrerit mi quis leo elementum.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="flight-search" data-aos="fade-up">
    <div class="container">
      <div class="tab-pane active" id="oneway">
        <div class="row">
          <div class="col-12">
            <form (ngSubmit)="onSearch()" [formGroup]="form">
              <div class="search-pan row mx-0 theme-border-radius">
                <div class="col-12 col-lg-4 col-xl-4 ps-0 mb-2 mb-xl-0 pe-0 pe-lg-2">
                  <div class="form-group">
                    <select id="departures" class="form-control ps-5" formControlName="departure" ngModel>
                      <option value="" selected="selected" disabled>Departure</option>
                      <option *ngFor="let airport of airports; let i=index" value="{{airport.code}}">
                        {{airport.code}} - {{airport.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4 ps-0 mb-2 mb-xl-0 pe-0 pe-lg-2">
                  <div class="form-group">
                    <select id="arrival" class="form-control ps-5" formControlName="arrival" ngModel>
                      <option value="" selected="selected" disabled>Destination</option>
                      <option *ngFor="let airport of airports; let i=index" value="{{airport.code}}">
                        {{airport.code}} - {{airport.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-3 ps-0 mb-2 mb-xl-0 pe-0 pe-lg-0 pe-xl-2">
                  <div class="form-group">
                    <input class="form-control ps-5" formControlName="departureDate" id="datepicker"
                           ngModel type="date" value="{{ currentDateTime |date: 'dd.MM.YYYY' }}">
                  </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-1 px-0 text-center">
                  <button class="btn btn-primary" type="submit">
                    <span class="fw-bold">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="flights.length > 0">
  <div class="container">
    <div class="content-section">
      <div class="srp py-2">
        <div class="container">
          <div class="row">
            <div class="col-12 my-2">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <div class="fw-bold">
                    {{ form.value['departure'] }} <i class="bi bi-arrow-right mx-2"></i> {{ form.value['arrival'] }}
                  </div>
                  <div class="mb-1 font-small">{{ form.value['departureDate'] }}</div>
                </div>
                <div>
                  <span class="font-small">Showing {{flights.length}} flights.</span>
                </div>
              </div>
            </div>
          </div>

          <!-- ===================================================================== -->
          <!-- ============================== HEADERS ============================== -->
          <!-- ===================================================================== -->

          <div class="row">
            <div class="col-12 mb-3">
              <div class="row">
                <div class="col-12 col-md-12 d-none d-md-block">
                  <div class="row g-0 border p-2 theme-bg-accent-three">
                    <div class="col-md-3">
                      <span class="font-small fw-bold">Airline</span>
                    </div>
                    <div class="col-md-2">
                      <span class="font-small fw-bold">Depart</span>
                    </div>
                    <div class="col-md-2">
                      <span class="font-small fw-bold">Duration</span>
                    </div>
                    <div class="col-md-2">
                      <span class="font-small fw-bold">Arrive</span>
                    </div>
                    <div class="col-md-3 text-md-center">
                      <span class="font-small fw-bold">Price</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ===================================================================== -->
          <!-- =============================== ROWS ================================ -->
          <!-- ===================================================================== -->

          <div *ngFor="let flight of flights; let i = index" class="row">
            <div class="col-12 mb-3" data-aos="fade-up">
              <div class="row g-0 border p-2 align-items-center theme-bg-white">
                <div class="col-12 col-md-3">
                  <div class="d-flex">
                    <div>
                      <img alt="{{flight.airline.name}}"
                           class="img-fluid theme-border-radius"
                           src="http://localhost:8888/images/logo/{{flight.airline.image_path}}"
                           style="width: 32px; height: 32px;"
                           title="{{flight.airline.name}}">
                    </div>
                    <div class="d-flex flex-column ms-2">
                      <span class="font-small d-inline-flex mb-0 align-middle">{{flight.airline.name}}</span>
                      <span class="font-small d-inline-flex mb-0 align-middle">{{flight.flight_iata}}</span>
                    </div>
                  </div>
                  <div>
                    <a [routerLink]="['/flight', flight.uid]" class="font-small">Flight Details</a>
                  </div>
                </div>
                <div class="col-4 col-md-2">
                  <div class="fw-bold">{{flight.dep_time}}</div>
                  <div class="font-small">{{flight.departure_airport.code}}</div>
                </div>
                <div class="col-4 col-md-2">
                  <div class="font-small">{{flight.duration}} minutes</div>
                  <span class="stops"></span>
                  <div class="font-small">Non Stop</div>
                </div>
                <div class="col-4 col-md-2">
                  <div class="fw-bold">{{flight.arr_time}}</div>
                  <div class="font-small">{{flight.arrival_airport.code}}</div>
                </div>
                <div class="col-12 col-md-3 text-center mt-md-0 mt-2">
                  <div class="fw-bold">$ {{flight.tickets.at(0)?.price}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

